* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #962c02;
  --text: #3a2b03;
}

body {
  font-family: Georgia, Helvetica, sans-serif;
  background: #f5f5f5;
  color: var(--text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}