.header {
  background-color: rgb(255 235 218);
  border-bottom: 1px solid var(--primary);
  padding: 1.25rem 5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
}

.headerActions {
  justify-self: end;
  align-self: center;
}

.logo-titulo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  justify-self: center;
  padding: 0.25rem 5rem;
}
